body {
	background-color: #000000;
	font-family: "Times New Roman", Arial, sans-serif;
	font-size: 18px;
	color: #4e4343;
}

h1 {
	font-family: "Georgia", sans-serif;
	color: #880000;
}

h4 {
	font-family: "Georgia", sans-serif;
	color: #0a0909;
}

ul {
	list-style-type: none;
}

ul a {
	display: block;
	color: #330d0d;
	font-weight: bold;
	text-decoration: none;
	width: 100px;
	padding: 25px 30px;
	margin: 5px;
	border: 2px solid #ff4e4e;
	background-color: #9c8d8d;
}

ul a:hover{
	background-color: #6f3636;
}
